.page {
 
  background: linear-gradient(180deg, #033d4d, #012a33);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  background-color: #ffffff;
  width: 420px;
  
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

.register h2 {
  text-align: center;
  color: #033d4d;
  margin-bottom: 1rem;
}
