.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.card {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.totalBox {
  text-align: right;
  margin-top: 20px;
}

.btnComprar {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
