
.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(180deg, #043c3c, #066666);
  color: white;
  border : 8px solid white
}

.container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}


.card {
  display: flex;
  gap: 1.2rem;
  background: white;
  color: #043c3c;
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1.2rem;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}


.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 12px;
  background: #f4f4f4;
  padding: 6px;
}


.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info h3 {
  margin: 0;
  font-size: 1.1rem;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  color: #444;
}


.totalBox {
  margin-top: 2rem;
  background: white;
  color: #043c3c;
  padding: 1.5rem;
  border-radius: 16px;
  text-align: right;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalBox h2 {
  margin: 0;
}


.btnComprar {
  background: #043c3c;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background .2s ease, transform .15s ease;
}

.btnComprar:hover {
  background: #066666;
  transform: scale(1.05);
}


.vacio {
  text-align: center;
  padding: 4rem;
  font-size: 1.4rem;
  color: white;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: 180px;
  }

  .totalBox {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .btnComprar {
    width: 100%;
  }
}
