
.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(180deg, #043c3c, #066666);
  min-height: 100vh;
}


.categorias {
  background: #fff;
  border-radius: 18px;
  padding: 1.2rem;
  height: fit-content;
  position: sticky;
  top: 90px;
}

.categorias p {
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 8px;
}

.activa {
  background: #043c3c;
  color: white;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.hero {
  padding: 15px;
  background-color: #0d3831;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  border: 8px solid #ffffff ;
  position: relative;

}



.imgPortada {
  width: 60%;
  height: 220px;
 
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5rem;
  
}


.card {
  background: white;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.card img {
  border: 8px solid #043c3c ;
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
}

.boton {
  margin-top: auto;
  background: #043c3c;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
}


.paginacion {
  grid-column: 2;
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}




@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr; 
  }

  .categorias {
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  .categorias p {
    background: #eee;
    padding: 0.4rem 0.8rem;
  }

  .paginacion {
    grid-column: 1;
  }
}
 

