.card {
  background: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card button {
  background-color: #043c3c;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}
